:root {
    --chevron-right: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAXElEQVRYw+3WsRGAIBQEUYpSaM2MjtEOzsgSFmRmXwG3Cc63FEnaRno6O58ES+TKh0nkyKATZ24TP0nUGYmHTrT9E3CAnq/0PPlM4Q/N+ZUHBz+Z+NGf8NsiSbAXo4gMkDsw8uwAAAAASUVORK5CYII=');
    --chevron-left: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAgElEQVRYw+3QsQ2CYABE4RtB0EmI4Ew2NjRo4464hgFrfpNnYeMCZwK5b4B3yUkREavFjsqZ71konF35G19Pbx4e3vyL1ps/Jb+lfO/NVyzGvERNsQ5IDNaLJIn7z0Tnnpj/MdFuYuLonpho3BOj5J2Y5cKVwpuLfNhzUETEanwAKpoDzsnOAg4AAAAASUVORK5CYII=');
}

.material-icon {
    -webkit-appearance: none;
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0 solid transparent;
    margin: 0;
    padding: 0;
}

.hue-slider-button-icon {
    fill: white;
}

#hue-slider-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: hsl(0, 0%, 30%);
}

.color-example {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin: 20px 0;
}

.slider-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.range-input-container {
    xborder: 1px solid hsla(0, 100%, 100%, .1);
    position: relative;
    margin: 20px 0;
    background-size: calc(660px - 66px) 30px;
    height: 66px;
    width: 660px;
    font-size: 66px;
}

.range-input-container svg {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hue-slider {
    font-size: inherit;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    font-size: inherit;
    top: 0;
    left: 0;
    background-color: transparent;
    background-image: none;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
}

.hue-slider::-webkit-slider-thumb {
    font-size: inherit;
    -webkit-appearance: none;
    background: transparent;
    border-radius: 50%;
    border: 0 solid transparent;
    height: 1em;
    width: 1em;
}

.hue-slider::-ms-track {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
}

.hue-slider::-ms-fill-lower,
.hue-slider::-ms-fill-upper {
    display: none;
}

/* TODO */
.hue-slider::-ms-thumb {
    border-radius: 33px;
    border: 3px solid hsla(0, 0%, 100%, 0.5);
    height: 60px;
    transition: border-color 0.3s;
    width: 60px;
}

.hue-slider::-moz-range-thumb {
    background: transparent;
    border-radius: 33px;
    border: 0 solid transparent;
    border: 3px solid hsla(0, 0%, 100%, 0.5);
    height: 60px;
    margin: 0;
    outline: none;
    width: 60px;
}